name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore workloads
      run: dotnet workload restore

    - name: Restore dependencies
      run: dotnet restore NativeForms.sln

    - name: Build
      run: dotnet build NativeForms.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test NativeForms.sln --no-build --verbosity normal --configuration Release --collect:"XPlat Code Coverage"

    - name: Upload coverage reports
      uses: codecov/codecov-action@v4
      if: success()
      with:
        files: '**/coverage.cobertura.xml'
        fail_ci_if_error: false
        verbose: true
